<div class="container" *ngIf="!isPopupOpen">
    <div class="row">
        <div class="col-12">
            <div
                class="child-container d-flex justify-content-center align-items-center">
                <!-- Column 1 -->
                <div class="child-item mx-auto">
                    <!-- Content for column 1 -->
                    <!-- Jan -->
                    <div class="card mt-4 enlarge-div"
                        style="width: 18rem; cursor: pointer;">
                        <img class="card-img-top"
                            src="../../assets/images/months/jan.jpg"
                            alt="Card image cap">
                        <br>
                        <h1
                            class="card-title text-center m-0">
                            January</h1>
                        <ul
                            class="list-group list-group-flush">
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Budget</span><b>₹12345</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year Savings</span>
                                <b>₹1235</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Expanse</span><b>₹1245</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Investment</span><b>₹1545</b>
                            </li>
                        </ul>
                    </div>

                    <!-- april -->
                    <div class="card mt-4 enlarge-div"
                        style="width: 18rem; cursor: pointer;">
                        <img class="card-img-top"
                            src="../../assets/images/months/april.jpg"
                            alt="Card image cap">
                        <br>
                        <h1
                            class="card-title text-center m-0">
                            April</h1>
                        <ul
                            class="list-group list-group-flush">
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Budget</span><b>₹12345</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year Savings</span>
                                <b>₹1235</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Expanse</span><b>₹1245</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Investment</span><b>₹1545</b>
                            </li>
                        </ul>
                    </div>

                    <!-- July -->
                    <div class="card mt-4 enlarge-div"
                        style="width: 18rem; cursor: pointer;">
                        <img class="card-img-top"
                            src="../../assets/images/months/july.jpg"
                            alt="Card image cap">
                        <br>
                        <h1
                            class="card-title text-center m-0">
                            July</h1>
                        <ul
                            class="list-group list-group-flush">
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Budget</span><b>₹12345</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year Savings</span>
                                <b>₹1235</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Expanse</span><b>₹1245</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Investment</span><b>₹1545</b>
                            </li>
                        </ul>
                    </div>

                    <!-- Oct -->
                    <div class="card mt-4 enlarge-div"
                        style="width: 18rem; cursor: pointer;">
                        <img class="card-img-top"
                            src="../../assets/images/months/oct.jpg"
                            alt="Card image cap">
                        <br>
                        <h1
                            class="card-title text-center m-0">
                            October</h1>
                        <ul
                            class="list-group list-group-flush">
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Budget</span><b>₹12345</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year Savings</span>
                                <b>₹1235</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Expanse</span><b>₹1245</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Investment</span><b>₹1545</b>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Column 2 -->
                <div class="child-item mx-auto">
                    <!-- Content for column 2 -->
                    <!-- Feb -->
                    <div class="card mt-4 enlarge-div"
                        style="width: 18rem; cursor: pointer;">
                        <img class="card-img-top"
                            src="../../assets/images/months/feb.jpg"
                            alt="Card image cap">
                        <br>
                        <h1
                            class="card-title text-center m-0">
                            Feburary</h1>
                        <ul
                            class="list-group list-group-flush">
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Budget</span><b>₹12345</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year Savings</span>
                                <b>₹1235</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Expanse</span><b>₹1245</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Investment</span><b>₹1545</b>
                            </li>
                        </ul>
                    </div>

                    <!-- may -->
                    <div class="card mt-4 enlarge-div"
                        style="width: 18rem; cursor: pointer;">
                        <img class="card-img-top"
                            src="../../assets/images/months/may.jpg"
                            alt="Card image cap">
                        <br>
                        <h1
                            class="card-title text-center m-0">
                            May</h1>
                        <ul
                            class="list-group list-group-flush">
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Budget</span><b>₹12345</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year Savings</span>
                                <b>₹1235</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Expanse</span><b>₹1245</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Investment</span><b>₹1545</b>
                            </li>
                        </ul>
                    </div>

                    <!-- Aug -->
                    <div class="card mt-4 enlarge-div"
                        style="width: 18rem; cursor: pointer;">
                        <img class="card-img-top"
                            src="../../assets/images/months/aug.jpg"
                            alt="Card image cap">
                        <br>
                        <h1
                            class="card-title text-center m-0">
                            August</h1>
                        <ul
                            class="list-group list-group-flush">
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Budget</span><b>₹12345</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year Savings</span>
                                <b>₹1235</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Expanse</span><b>₹1245</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Investment</span><b>₹1545</b>
                            </li>
                        </ul>
                    </div>

                    <!-- nov -->
                    <div class="card mt-4 enlarge-div"
                        style="width: 18rem; cursor: pointer;">
                        <img class="card-img-top"
                            src="../../assets/images/months/nov.jpg"
                            alt="Card image cap">
                        <br>
                        <h1
                            class="card-title text-center m-0">
                            November</h1>
                        <ul
                            class="list-group list-group-flush">
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Budget</span><b>₹12345</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year Savings</span>
                                <b>₹1235</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Expanse</span><b>₹1245</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Investment</span><b>₹1545</b>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Column 3 -->
                <div class="child-item mx-auto">
                    <!-- Content for column 3 -->
                    <!-- march -->
                    <div class="card mt-4 enlarge-div"
                        style="width: 18rem; cursor: pointer;">
                        <img class="card-img-top"
                            src="../../assets/images/months/mar.jpg"
                            alt="Card image cap">
                        <br>
                        <h1
                            class="card-title text-center m-0">
                            March</h1>
                        <ul
                            class="list-group list-group-flush">
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Budget</span><b>₹12345</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year Savings</span>
                                <b>₹1235</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Expanse</span><b>₹1245</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Investment</span><b>₹1545</b>
                            </li>
                        </ul>
                    </div>

                    <!-- June -->
                    <div class="card mt-4 enlarge-div"
                        style="width: 18rem; cursor: pointer;">
                        <img class="card-img-top"
                            src="../../assets/images/months/jun.jpg"
                            alt="Card image cap">
                        <br>
                        <h1
                            class="card-title text-center m-0">
                            June</h1>
                        <ul
                            class="list-group list-group-flush">
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Budget</span><b>₹12345</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year Savings</span>
                                <b>₹1235</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Expanse</span><b>₹1245</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Investment</span><b>₹1545</b>
                            </li>
                        </ul>
                    </div>

                    <!-- Sept -->
                    <div class="card mt-4 enlarge-div"
                        style="width: 18rem; cursor: pointer;">
                        <img class="card-img-top"
                            src="../../assets/images/months/sept.jpg"
                            alt="Card image cap">
                        <br>
                        <h1
                            class="card-title text-center m-0">
                            September</h1>
                        <ul
                            class="list-group list-group-flush">
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Budget</span><b>₹12345</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year Savings</span>
                                <b>₹1235</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Expanse</span><b>₹1245</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Investment</span><b>₹1545</b>
                            </li>
                        </ul>
                    </div>

                    <!-- Dec -->
                    <div class="card mt-4 enlarge-div"
                        style="width: 18rem; cursor: pointer;"
                        (click)="togglePopup()">
                        <img class="card-img-top"
                            src="h../../assets/images/months/dec.jpg"
                            alt="Card image cap">
                        <br>
                        <h1
                            class="card-title text-center m-0">
                            December</h1>
                        <ul
                            class="list-group list-group-flush">
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Budget</span><b>₹12345</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year Savings</span>
                                <b>₹1235</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Expanse</span><b>₹1245</b>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Year
                                    Investment</span><b>₹1545</b>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-add-expanse *ngIf="isPopupOpen"></app-add-expanse>