/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

  /* Remove default button with icon styles */
  .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    overflow: hidden;
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
  }

  .icon-button:hover {
    transform: scale(1.2);
  }


  .icon-button img {
    border: none;
    display: block;
  }